# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Ambiente Virtual
.venv/
venv/
ENV/

# Ficheiros do PyCharm / VS Code
.idea/
.vscode/

# Ficheiros de Build e Compilação
/dist/
/build/
*.msi
*.cab
*.exe
/scripts/dist/
/scripts/build/
/build_tools/build/
/build_tools/dist/
# Manter .spec no repositório
!build_tools/MatFinder.spec

# Ficheiros de Log e Dados do Utilizador
*.log
historico_buscas.json
favorites.json
matfinder.log
settings.json

# Ficheiros Temporários
temp_cifs/*.cif
*.bak
*_old.py
*_backup.py
test_grupos.py
requirements_backup.txt

# OS
.DS_Store
Thumbs.db

# Configurações locais
matfinder/assets/config/config.txt
